<aside class="sidebar">
  <div class="logo">U</div>

  <nav class="menu">
    <a href="index.html" data-page="home">
      <i class='bx bx-home'></i>
      <span>Home</span>
    </a>

    <a href="explorar.html" data-page="explorar">
      <i class='bx bx-search-alt'></i>
      <span>Explore</span>
    </a>

    <a href="chat.html" data-page="chat">
      <i class='bx bx-chat'></i>
      <span>Chat</span>
    </a>

    <a href="perfil.html" data-page="perfil">
      <i class='bx bx-user'></i>
      <span>Profile</span>
    </a>

    <a href="dicionario.html" data-page="dicionario">
      <i class='bx bx-book'></i>
      <span>Dictionary</span>
    </a>
  </nav>

  <div class="user">
    <div class="avatar" id="sidebarAvatar">U</div>
  </div>
</aside>
